/*CSS Layout*/
nav, main, article, figure, figcaption {  display: block;} 
body {font-family:Arial,Tahoma,"sans-serif";font-size: 100%;background-image: url(../images/theme_backgrnd.gif)}
footer {display:block;max-width: 1280px;margin-left: auto;margin-right: auto}
header {float:left;width:100%}
footer {background-color: #A8B1B8}
p {font-family: Arial;text-indent: 15px; text-align: center}
ul {font-family: Arial;font-size:.90em}
ol {font-family: Arial;font-size:.90em}
.superscript{font-size:x-small; vertical-align:top;} 


@media print {
    .navbox_160showHide {display: none;}
	.rightbox_160showHide {display: none;}
	.box_320showHide {display: none;}
	.rowbreadcrumb {display: none;}
	.mpopup {display: none;}
	.mpopup-head {display: none;}
	.mpopup-main {display: none;}
	.mpopup-foot {display: none;}
	}	

/* iphone */
@media only screen and (max-width :768px) {img { max-width: 100%;height: auto }}

/* ipad */
@media only screen and (min-width : 768px) {img { max-width: 100%;height: auto }}


.center {text-align: center;font-family: Arial;}
.book {font-family: Arial;text-indent: 15px; padding:0px 10px; text-align: justify}
.search_box {
	display: inline-block;
	width:220px;
	padding: 5 px;
	word-wrap:break-word;
}
.fsSubmitButton{
padding: 4px 12px 4px !important;
font-size: 15px !important;
background-color: #003366;
font-weight: bold;
text-shadow: 1px 1px #003366;
color: #ffffff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid navy;
cursor: pointer;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.CompareButton {
display: inline-flex;
	padding: 4px 12px 4px !important;
font-size: 12px !important;
background-color: #003366;
font-weight: bold;
	font-style: italic;
text-shadow: 1px 1px #003366;
color: #ffffff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid navy;
cursor: pointer;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.inputtxtbox {
border-style: solid;
border-width: 2px;
border-color: navy;
font-family: helvetica, arial, sans serif;
padding-left: 2px;
font-size: 20px; 
}
.main-content {	max-width: 1280px; margin-left: auto;margin-right: auto;}

@media only screen and (min-width : 1180px) {
.box_320showHide {
	display: inline-block;
	width:295px;
	padding: 5px;
	word-wrap:break-word;
}
	
.navbox_160showHide {
	display: inline-block;
	width:160px;
	padding: 1px;
	word-wrap:break-word;
	float: left;
}
.rightbox_160showHide {
	display: inline-block;
	width:160px;
	padding: 1 px;
	word-wrap:break-word;
	float: right
	}}

@media only screen and (min-width : 320px) and (max-width : 1180px){
	.box_320showHide {display: none;}
	.navbox_160showHide {display: none;}
	.rightbox_160showHide {display: none;}
}
.clearfix::after {
   content: " "; /* Older browser do not support empty content */
   display: table;
   clear: both;
	/*visibility:hidden;*/
 }
/*rows {width:80%;margin: 10px;text-align:center;border:thin solid black;float:left}*/
.rowcenter {max-width:1280px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	text-align:center;
	padding-left:1px;
	padding-right:1px;
	vertical-align:top;
	
	/*float: auto;*/
}
.main-section {
	width:65%;
	max-width:640px;/*50%*/
	min-width: 320px;
	display:inline-block;
	text-align:center;
	padding:0px;
	word-wrap:break-word;
	margin-left:auto;
	margin-right:auto;
}
.rowbreadcrumb {max-width: 1280px;text-align: left;vertical-align: top}
.divcenter {max-width:320px;margin-left:auto;margin-right:auto;}

.valigntxt {display: inline-block; vertical-align: middle; line-height: normal;}

/* borderless box types*/
.box_logo {width:320px;vertical-align:middle;}
.box_X {display:inline-block;float:left;vertical-align:top}
.box_5 {width:2%;display:inline-block;float:left;margin-left:auto;margin-right:auto;text-align:center;vertical-align:top;}
.box_20 {width:20%;display:inline-block;text-align:center;padding:5px;word-wrap:break-word;}
.box_25 {width:25%;display:inline-block;overflow-x:auto;overflow-y:auto;vertical-align:top;}
.box_33 {width:30%;display:inline-block;text-align:center;padding:5px;word-wrap:break-word;}
.box_50 {width:45%;display:inline-block;margin-left:auto;margin-right:auto;overflow-x:auto;overflow-y:auto;vertical-align:top;}
.box_100 {width:80%;display:inline-block;margin-left:auto;margin-right:auto;overflow-x:auto;overflow-y:auto;vertical-align:top;}
.box_160 {width:140px;display:inline-block;text-align:center;padding:5px;word-wrap:break-word;}
.box_320 {width:295px;display:inline-block;text-align:center;padding:5px;word-wrap:break-word;}
.box_640 {width:585px;display:inline-block;text-align:center;padding:5px;word-wrap:break-word;}
.box_text {display: table-cell;vertical-align:middle;width:295px;padding:5px;
	word-wrap:break-word;}

/* boxes with borders ----------------------------------------------*/
boxX,box15,box20,box25,box33,box50,box60,box100 {display: inline-block;margin:1px;text-align:left;border-collapse:separate;	border-radius: 10px;border:thin solid navy;padding:5px;box-shadow: 5px 5px 5px grey;word-wrap:normal;overflow-x:auto;overflow-y:auto;vertical-align:top;	
}
.boxX {vertical-align:top;}
.box15 {width:15%;}
.box20 {width:20%;}
.box25 {width:25%;}
.box33 {width:30%;}
.box50 {width:45%;margin-left:auto;margin-right:auto;text-align:left;}
.box60 {width:60%;	margin-left:auto;margin-right:auto;}
.box100 {width:90%;	margin-left:auto;margin-right:auto;}

/* misc classes ---*/
.menu1 {float:left;width:10%}
.content1 {float:right;}
.spacer {clear: both;height:5px;}
.nav1 {clear:both;}
.center {text-align: center;font-family: Arial;}
.topctr {text-align: center;font-family: Arial;font-size:x-small;vertical-align:top;}
.skuhide {color:#FFF;font-family: Arial;font-size:x-small}
.skutest {color: green;font-family: Arial;font-size:x-small}

.highlight {background-color: #FFFF00;font-weight: 700;}
.right {text-align: right;font-family: Arial;}
.xsmalltext {font-size:x-small;}
.smalltext {font-size:.85em;}
.mediumtext {font-size:medium;}
.left {text-align: left;font-family: Arial;}
.lefty {text-align: left;font-family: Arial;}
.indent120 {margin-left: 100px;}
.indent160 {margin-left: 140px;}
.indent60 {margin-left: 60px;}
.indent10 {margin-left: 10px;}
.redlist {text-align: center;color: #FF3300;font-family: Arial;font-weight: bold;text-decoration: underline;font-size:medium;}
.redprice {text-align: center;color:#FF3300;font-family: Arial;font-weight: bold;text-decoration: underline;font-size:medium;}
.greenprice {text-align: center;color: #008000;font-family: Arial;font-weight: bold;text-decoration: underline;font-size:medium }


/* begin image styles*/
img.noborder {margin:3px;border:0px;}
img.partspix{width:110px;height:87px;border:1px}

/* background colors */
.ltblue {background-color:#C2DFFF;text-align: center;font-family: Arial}

h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Tahoma, "Times New Roman", sans-serif;
	color: rgb(0,0,0);
	text-align:center
}
h1 {font-size:1.5em;margin-top:0.3em;margin-bottom: 0.3em;}
h2 {font-size:1.3em;margin-top:0.3em;margin-bottom: 0.3em;}
h3 {font-size:1.1em;margin-top:0.3em;margin-bottom: 0.3em;}

/*Multi-Toggle Menu*/
.menu-link {
  display: none;
}
.menu {
  margin-left: auto;
  margin-right: auto;
  background-color: gray; /*background color of NAV bars*/
  font-family: Tahoma; /*change the nav bar font-style here */
  font-weight: bold;
  max-width: 1280px;
	line-height:24px;
	
}
.menu ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
	z-index: 100;
}
.menu > li > ul.sub-menu {
  /*doesn't seem to work*/
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}
.menu ul li {
  padding: 0px;
}
.menu > ul > li {
  display: inline-block;
}
.menu ul li a {
  display: block;
  text-decoration: none;
  color:black; /*this controls the color of the 1st level link buttons */
  font-size: 1.0em; /*controls font sizes*/
	
} /*controls every link text-big and small screen*/
.menu ul li > a {
  height: 25px;
  padding: 5px 12px 10px;
} /* display of primary tabs */
.menu ul ul {
/*   display: none; */
  position: absolute;
  top: 100%;
  min-width: 160px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  transition-delay: 0.2s;
}
.menu ul li:hover {
  background-color: lightgray;

} /*top level nav bar hover*/
.menu ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.menu ul ul > li {
  position: relative;
}
.menu ul ul > li a {
  padding: 5px 15px 5px 10px;
  height: auto;
  background-color: #8B97A0;/*#003366*/
  border: 1px solid #364C55;
	color:white;
} /*controls secondary link tabs-big screen only*/
.menu ul ul > li a:hover {
  background-color: #6d98ab;
  color: #fff;
}
/*controls hover tab -big and small screen*/
.menu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;

}
.menu ul ul ul > li a {
  padding: 5px 15px 5px 10px;
  height: auto;
  background-color: #6d98ab;/*#003366*/
  border: 1px solid #000;
} /*controls third level link tabs-big screen only*/

.example-header {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/*below here is the collapsed Menu CSS*/

@media only screen and (max-width: 768px) {
  .example-header {
    max-width: 100%;
  }
  /* display of primary tabs-small screen*/
  a.menu-link {
    display: block;
    color: #fff;
    background-color: #003366;
    float: right;
    text-decoration: none;
    font-family: Tahoma;
    padding: 19px 10px;
  }
  .menu {
    clear: both;
    min-width: inherit;
    float: none;
  }
  .menu,
  .menu > ul ul {
    overflow: hidden;
    max-height: 0;
    background-color: #003366;
    font-family: Tahoma;
  }
  .menu > li > ul.sub-menu {
    padding: 0px;
    border: none;
  }
  .menu.active,
  .menu > ul ul.active {
    max-height: 155em;
  }
  .menu ul {
    display: inline;
  }
  .menu > ul {
    border-top: 1px solid #808080;
  }
  .menu li,
  .menu > ul > li {
    display: block;
  }
  .menu li a {
    color: #000;
    display: block;
    padding: 0.8em;
    border-bottom: 1px solid #808080;
    position: relative;
  }
  /*below here is for the 'plus' or 'minus' symbol color only*/
  .menu li.has-submenu > a:after {
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.25em 0.5em 0.75em 0.5em;
    color: #fff;
  }
  .menu li.has-submenu > a.active:after {
    content: "-";
  }
  .menu ul ul > li a {
    background-color: #5b84ad;
    height: 29px;
    padding: 9px 18px 9px 60px;
    border: 1px solid;
    color: #000;
  } /* display of secondary tabs-small screen*/
  .menu ul ul,
  .menu ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    border: none;
    color: #000;
  }
  .menu ul ul ul > li a {
    background-color: #84a3c1;
    height: 29px;
    padding: 9px 18px 9px 60px;
  } /* level 3 tabs display*/
}

@media only screen and (min-width : 320px) and (max-width : 414px){
.divTableCell {
	border: 1px solid #326D87;
	padding: 3px 5px;
	width:100%;
}
.divTableRow {
	justify-content: center;
	align-items: stretch;
	max-width: 640px;
	width: 100%;
	background-color: #FFF;
	flex-flow: row wrap;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
	.divTableRowG {
	justify-content: center;
	align-items: stretch;
	max-width: 640px;
	width: 100%;
	background-color: #D3D3D3;
	flex-flow: row wrap;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
	
.indent120 {margin-left: 10px;}
.indent160 {margin-left: 10px;}
}


/* DivTable.com */
.divTable {
	justify-content: center;
	align-items: flex-start;
	max-width: 640px;
	width: 100%;
	background-color:#FFF;
	border: 1px solid grey;/*#326D87*/
	border-collapse: separate;
	-webkit-box-shadow: 5px 5px 5px grey;
	-moz-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
   	display: -webkit-flex; 
	-webkit-flex-flow:row wrap; /* NEW - Chrome */
  	display: flex;
	flex-flow: row wrap;
	
}
.divTablenb {
	justify-content: center;
	align-items: flex-start;
	max-width: 640px;
	width: 100%;
	background-color: #FFF;
	border:collapse;/* 1px solid navy;*/
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
 	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex; 
	-webkit-flex-flow:row wrap; /* NEW - Chrome */
  	display: flex;
	flex-flow: row wrap;
}
.divTableRow {
	justify-content: center;
	align-items: stretch;
	max-width: 640px;
	width: 100%;
	background-color: #FFF;
	/*flex-flow: row wrap;*/
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.divTableRow > div {
	border: 1px solid grey;
	/*padding: 3px 5px;*/
	width:100%;
}
.divTableRowG {
	justify-content: center;
	align-items: stretch;
	max-width: 640px;
	width: 100%;
	background-color: #D3D3D3;
	/*flex-flow: row wrap;*/
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.divTableRowG > div {
	border: 1px solid #326D87;
	/*padding: 3px 5px;*/
	width:100%;
}
	
.divTableHeading {
	background-color: #EEE;
	border: 1px solid #326D87;
	padding: 3px 5px;
}
.divTableCell {
	border: 1px solid gray;
	padding: 3px 5px;
	/*width:43%;*/
}
.divGrayCell {
	border: 1px solid #326D87;
	padding: 3px 5px;
	background-color: #D3D3D3;
	/*width:43%;*/
}
.divFullCell {
	border: 1px solid #326D87;
	padding: 3px 5px;
	word-wrap: break-word;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
}
.divBlueCell {
	border: 1px solid #326D87;
	padding: 5px 5px;
	background-color:#C2DFFF;
	}
.divBBlueCell {
	border: 1px solid #326D87;
	padding: 5px 5px;
	background-color:#C2DFFF;
	font-weight: bold;
}
.divTableHead {
	border: 1px solid #326D87;
	padding: 3px 5px;
}
.divTableBody {/*This does nothing-but must be there for conversion*/
	/*display:flex;
	border-style: solid;
	border-width: 3px;
	border-color: Navy;
	background-color: #FFF;
	max-width: 640px;
	min-width: 320px;*/
}
/* End DivTable.com */


/* for the left side navigation */
.pagetitle {
	text-align: center;
	font-family: Arial;
	color:navy;
	background-color: white;
}
	
#buttontop {
  display: inline-block;
  background:none;
  color: #003366;
  background-color: #F7F7F7;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  position: fixed;
  bottom: 5px;
  right: 180px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
#buttontop::after {
  content: "\f139";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 31px;
  color: #003366;
}
#buttontop:hover {
  cursor: pointer;
  background-color: #fff;
	color: #003366
}
#buttontop:active {
  background-color: #555;
}
#buttontop.show {
  opacity: 1;
  visibility: visible;
}	
/* mPopup box style */
.mpopup {
    display: none;
    position: fixed;
    z-index: 100;
    /*padding-top: 50px;*/
    left: auto;
    top: 25%;
    width: 320px;
    /*height: 320px;*/
    overflow: hidden;
	background-color: rgba(249,249,249,0.4);
     background-color: rgb(249,249,249);
	background-image: url(https://www.scantastik.com/images/spring-savings-4.jpg);
   /* background-color: rgba(0,0,0,0.4);*/
	opacity: 0.90;
}
.mpopup-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.mpopup-head {
    padding: 2px 12px;
    background-color: transparent;
    color: navy;/*#D4AF37*/
	/*border:2px solid #000;*/
	border-top: 2px solid #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	
}
.mpopup-main {
	padding: 2px 12px;
	background-color: transparent;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #000;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color:#000;
	}
.mpopup-foot {
    padding: 2px 12px;
    background-color: transparent;
    color: navy;
	font-weight: bold;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*border:2px solid #000;*/
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
}

/* add animation effects */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@-moz-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* close button style */
.popupclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.popupclose:hover, .close:focus {
    color: #474747;
    text-decoration: none;
    cursor: pointer;
}
		
.alert-box {
    color:#fff;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
}
.alert-error {
    background-color: #fff;
    border:3px solid #27576B;
}		

	